<svg style="display: block;"></svg>


<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Bu site Ali İhsan Çoban tarafından oluşturulmuştur.</p>
    <p><a href="https://www.instagram.com/alihsancbn/" target="_blank"><img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmgGLbkpyB4l6BR8Lu9VT8BRRDC16IzEMR9My7HuQ&s" alt="" width="50" height="50"></a>
      <a href="https://twitter.com/alihsancbn" target="_blank"><img class="mb-4" src="https://w7.pngwing.com/pngs/421/879/png-transparent-twitter-logo-social-media-iphone-organization-logo-twitter-computer-network-leaf-media.png" alt="" width="50" height="50"></a>
      <a href="https://github.com/alihsancbn" target="_blank"><img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="" width="50" height="50"></a>
    </p>
    
    
  </footer>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>