<%- include ('includes/head.ejs') %>
<%- include('includes/nav.ejs')%>
<body>
<div >
    <h1 style="text-align: center;"><%=subTitle%></h1>
    
</div>
<div style="text-align: center;"><img src="image/hata_resmi.jpg"></div>
<%- include ('includes/foot.ejs')%>